.admin__container {
    background-image:  url('../../images/fondo_informacion.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    z-index: 0;
    color: aliceblue;
}
.menu__lateral{
    background: linear-gradient(to right, rgba(253, 0, 0, 0.486) 1%, rgba(16, 0, 235, 0.308));
    height: 100vh;
    width: 20vw;
    
}
.contenido__derecho{
    color: white;
    margin: 5vh 20vh;
}
.boton__aceptar{
    color: white;
    background-color:aquamarine;
}