.tabla__administrativa{
    background: linear-gradient(to right, rgba(253, 0, 0, 0.226) 1%, rgba(16, 0, 235, 0.308));
    padding: 2vh;
}



.titulo__tabla{
    border: 2px solid;
    height: 20px;
    width: 200px;
}